.header {
text-align: left;
color: rgb(182, 9, 9);
margin: 0%;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',  Verdana, sans-serif
}
.header-continer{
    border: 1px solid;
    border-color: red;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
    justify-content: space-between;
}
.nav-button{
    color: yellowgreen;
    font-family: "Lucida Console", "Courier New", monospace;
    text-decoration: none;
    border: 1px solid;
    border-color: yellow;
    
}
.header-continer .nav-button:hover{
color: hotpink;
}

.books{
    margin-top: 0%;
}

.main-body{
  margin-bottom: 40%;
  background-image: url(/assets/book.background.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 12%;
}
.books #book1{
   opacity: 30%;
}
.books #book2{
    text-align: middle;
    margin-left: 25%;
    opacity: 30%;
    
}
.books #book3{
    margin-left: 25%;
    opacity: 30%;
}
.books #book1:hover{
    opacity: 100%;
}
.books #book2:hover{
    opacity: 100%;
}
.books #book3:hover{
    opacity: 100%;
}
.abso-btn{
    position: fixed;
    display: flex;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.btn-continer{
    position: fixed;
    align-items: flex-end;
    justify-content: flex-end;
    bottom: 0;
    right: 0;
}


#title1{
    color: blue;
}
#title2{
    margin-left: 27%;
    color: blue;
}
#title3{
    margin-left: 24%;
    color: blue;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li a {
    display: block;
  }