.header {
text-align: center;
color: rgb(182, 9, 9);
margin: 0%;
border: 1px solid;
border-color: red;

}
.books{
    margin-top: 0%;
}

.main-body{
  margin-bottom: 40%;
  background-image: url(/assets/book.background.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 12%;
}
.books #book1{
   opacity: 30%;
}
.books #book2{
    text-align: middle;
    margin-left: 25%;
    opacity: 30%;
    
}
.books #book3{
    margin-left: 25%;
    opacity: 30%;
}
.books #book1:hover{
    opacity: 100%;
}
.books #book2:hover{
    opacity: 100%;
}
.books #book3:hover{
    opacity: 100%;
}





#title1{
    color: blue;
}
#title2{
    margin-left: 27%;
    color: blue;
}
#title3{
    margin-left: 24%;
    color: blue;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
